.btn-gold{
  background-color: $gold;
  border-radius: 25px;
  padding: 7px 25px;
}

.btn-85{
 width: 85%;
}

.btn-gold:hover{
  background-color: #C7AF92;
  text-decoration: none;
  transition:  0.3s ease;
  font-size: 16px;
}


.btn-center{
  margin: 0px auto;
}


.btn-margin{
   margin: 40px auto;
}


.btn-wide{
    display: block;
    width: 100%;
    margin-top:30px;
}


