.container-logos{
  width: 100%;
  display: flex;
  justify-content:center;
}

.bogo{
  height: 45px;
  width: auto;
  margin: 40px auto;
}


.logos{
  height: 30px;
  width: auto;
  margin: 40px auto;
}

@media (max-width: 767px) {
  .logos {
  text-align: center;
  width: 75%;
  height: auto;
  margin: 15 auto;
}
}
