

.align-bottom{
  vertical-align: bottom;
  display: flex;
  justify-content: space-between;
}

.search-field-size{

  width: 130px;
}

.search-field-size-small{

  width: 70px;
}

.space2{
  height: 65px;
}

.container2{
  max-width: 950px;
  width:  90%;
  margin: 0 auto;
  height: 90px;

}




