.teacher-container{
width: 180px;
    height: 180px;
    border-radius: 100px;
    overflow: hidden;
    border: 0.5px dotted black;
    margin: 0 auto;
}

.teacher{
 width: 180px;
 height: auto;
}



