// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.wrapper{
    // background-image: url(../images/background.png);
    background-color:white;
}

.container1{
  max-width: 950px;
  width:  100%;
  margin: 0 auto;
}




.content-block{
text-align:center;
margin-top:40px;
}



.transition {

}

.logos{
  height: 30px;
  width: auto;
  margin: 40px auto;
}

@media (max-width: 767px) {
  .logos {
  text-align: center;
  width: 75%;
  height: auto;
  margin: 15 auto;
}
}

.step-card{
  height: 300px;
  width: 100%;
}


.avantage-card{
  height: 400px;
  width: 100%;
}

.avantage-container{
  height:210px;
  width:100%;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.posture{
 background-color: transparent;
 bottom: 0;
 width: 200px;
 padding-bottom: 30px;
}


.avantage-card-text{
  width:80%;
  margin: 0 auto;
}

.featured-teacher{
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 40px auto;
}

.teacher-text{
 text-align: left;
    padding-right: 30px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 767px) {
  .teacher-text {
  text-align: center;
  width: 300px;
  margin:0 auto;
}
}






.target{
  text-align: center;
  height: 500px;
  padding: 15px;
  background-color: white;
  border: 1px dotted black;
}

.poses{
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.row{
  margin: 30px;
}


.featured{
  width:100%;
  height: 400px;
  padding: 15px;
  color: white;
  background-color: black;
  border: 1px dotted black;

}
.text-center{
  text-align: center;
}

.featured-teacher{
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
}

.teacher-big{
  width:250px;
  height: 250px;
}



.top-padded{
  padding-top: 25px;
}

.space{
  height:40px;
}














