<ul class="list-inline align-bottom ">
  <li>
    <div class="LabeledTextInput TeamForm-input search-field-size ">
                  <div class="LabeledTextInput-label LabeledTextInput-label--elevated">Professeur
                  </div>
                  <span class="LabeledTextInput-inputContainer">
                    <select name="type-event" id="" class="TextInput LabeledTextInput-field ">
                      <option value="" class="TextInput LabeledTextInput-field">--</option>
                      <option value="" class="TextInput LabeledTextInput-field">Sarah</option>
                      <option value="" class="TextInput LabeledTextInput-field">Benoît</option>
                      <option value="" class="TextInput LabeledTextInput-field">Claire</option>
                      <option value="" class="TextInput LabeledTextInput-field">Cécile</option>
                      <option value="" class="TextInput LabeledTextInput-field">Alicia</option>
                      <option value="" class="TextInput LabeledTextInput-field">Olga</option>
                      <option value="" class="TextInput LabeledTextInput-field">Georges</option>
                      <option value="" class="TextInput LabeledTextInput-field">Kate</option>
                      <option value="" class="TextInput LabeledTextInput-field">Yves</option>
                      <option value="" class="TextInput LabeledTextInput-field">Aya</option>
                      <option value="" class="TextInput LabeledTextInput-field">Mia</option>
                    </select>
                  </span>
                </div>
              </li>

  <li>     <div class="LabeledTextInput TeamForm-input search-field-size ">
                  <div class="LabeledTextInput-label LabeledTextInput-label--elevated">Date
                  </div>
                  <span class="LabeledTextInput-inputContainer">
                    <input type="date" name="date" id="" class="TextInput LabeledTextInput-field" min="<%Date.today %>">

                  </span>
                </div>
              </li>

  <li><div class="LabeledTextInput TeamForm-input search-field-size-small ">
                  <div class="LabeledTextInput-label LabeledTextInput-label--elevated">Heure
                  </div>

                  <span class="LabeledTextInput-inputContainer">
                    <input type="time" name="type-event" id="" class="TextInput LabeledTextInput-field" step="1800">
                  </span>
                </div>
              </li>

  <li><div class="LabeledTextInput TeamForm-input search-field-size ">
                  <div class="LabeledTextInput-label LabeledTextInput-label--elevated">Type de Yoga
                  </div>
                  <span class="LabeledTextInput-inputContainer">
                    <select name="type-event" id="" class="TextInput LabeledTextInput-field ">
                      <option value="" class="TextInput LabeledTextInput-field">Hatha</option>
                      <option value="" class="TextInput LabeledTextInput-field">Vinyasa</option>
                      <option value="" class="TextInput LabeledTextInput-field">Kundalini</option>
                      <option value="" class="TextInput LabeledTextInput-field">Ashtanga</option>
                    </select>
                  </span>
                </div></li>
  <li><div class="LabeledTextInput TeamForm-input search-field-size ">
                  <div class="LabeledTextInput-label LabeledTextInput-label--elevated">Langue
                  </div>
                  <span class="LabeledTextInput-inputContainer">
                    <select name="type-event" id="" class="TextInput LabeledTextInput-field ">
                      <option value="" class="TextInput LabeledTextInput-field">Français</option>
                      <option value="" class="TextInput LabeledTextInput-field">Anglais</option>
                      <option value="" class="TextInput LabeledTextInput-field">Espagnol</option>
                      <option value="" class="TextInput LabeledTextInput-field">Russe</option>
                    </select>
                  </span>
                </div></li>
  <li> <div class="btn-margin-search  search-field-size ">
        <%= link_to "CHERCHEZ", "form.html" , class: " btn-search" %>
      </div></li>

</ul>


